export(archive.packages)
export(cl2news)
export(debianize)
export(entities)
export(initChangeLog)
exportMethods(getChangeLogEntry)
exportMethods(updateChangeLog)
export(news2rss)
export(readChangeLog)
export(roxy.package)
export(sandbox)
export(sandbox.status)
export(writeChangeLog)
